<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新增問題後台頁</title>
</head>
<body>
  <form action="/questions/dashboard" method="POST">
    <label for="id">ID:</label>
    <input type="number" id="id" name="id" value=100>
    <label for="">content:</label>
    <input type="text" id="content" name="content" value="這是一道題目">
    <label for="">Hardness:</label>
    <input type="number" id="hardness" name="hardness" value=3>
    <button type="submit">Submit</button>
  </form>
</body>
</html>